In [1]:
import pandas as pd
import numpy as np

In [4]:
url = "F:\SPA_CURRENT_SUPPORT\Maruf_Delivery_Wise_IMS\Modified_Invoice_Wise_Cumulative_IMS\Without_Employee\Delivery_Wise_Cumulative_IMS_from_Aug01-10'22.xlsx"

In [6]:
df = pd.read_excel(url)

C:\Users\helpdesk\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [8]:
df.shape

(56519, 28)

In [9]:
df.dtypes

ZONE_CODE                object
ZONE_NAME                object
AREA_CODE                 int64
AREA_NAME                object
BELT_CODE                 int64
BELT_NAME                object
TERRITORY_CODE            int64
TERRITORY_NAME           object
MARKET_CODE               int64
MARKET_NAME              object
CUSTOMER_CODE             int64
CUSTOMER_NAME            object
PRODUCT_CODE             object
PRODUCT_NAME             object
PRODUCT_CATEGORY         object
CATEGORY_NAME            object
PACK_SIZE                object
PRODUCT_PRICE           float64
INVOICE_QTY               int64
INV_BONUS_QTY             int64
BONUS_PRICE_DISCOUNT    float64
INVOICE_AMT             float64
RETURN_SALES_QTY          int64
RETURN_BNS_QTY            int64
RETURN_VALUE            float64
IMS_SALES_QTY             int64
IMS_BNS_QTY               int64
NET_IMS                 float64
dtype: object

In [10]:
backup = df.copy()

In [28]:
(df
.filter(['ZONE_NAME', 'PRODUCT_NAME', 'PACK_SIZE','INVOICE_AMT', 'RETURN_VALUE','NET_IMS']) # Select
#.loc[(df['PRODUCT_NAME'] == 'Chaka Advanced Ball Soap') & (df['NET_IMS'] > 50000)] # where
.sort_values(['PRODUCT_NAME']) # order by
.groupby(['ZONE_NAME', 'PRODUCT_NAME', 'PACK_SIZE']) # group by
.sum() # aggregate
)

                                                                                  INVOICE_AMT  \
ZONE_NAME            PRODUCT_NAME                                     PACK_SIZE
Chattogram- Division Chaka Advanced Ball Soap                         125gm      2.133326e+06
                                                                      130gm      1.051300e+02
                     Chaka Advanced Ball Soap for Beauty soap - 130gm 130gm      1.848000e+02
                     Chaka Advanced Washing Powder                    1000 gm    2.597241e+05
                                                                      200 gm     7.195839e+05
...                                                                                       ...
Sylhet - Division    Zerocal-6.5 mg-100 Tab-CP                        100"s      5.196480e+03
                     Zerocal-6.5mg - 100 Tabs                         100's      3.757391e+05
                     jui pure Coconut oil(Plastic)                    46 ml      1.551400e+02
Test Division        Chaka Advanced Ball Soap                         125gm      1.968000e+02
                     Jui Pure Coconut Oil  (Tin)                      200 ml     2.567790e+03

                                                                                 RETURN_VALUE  \
ZONE_NAME            PRODUCT_NAME                                     PACK_SIZE
Chattogram- Division Chaka Advanced Ball Soap                         125gm       301520.2100
                                                                      130gm          105.1300
                     Chaka Advanced Ball Soap for Beauty soap - 130gm 130gm            0.0000
                     Chaka Advanced Washing Powder                    1000 gm      28467.4798
                                                                      200 gm       92796.1400
...                                                                                       ...
Sylhet - Division    Zerocal-6.5 mg-100 Tab-CP                        100"s            0.0000
                     Zerocal-6.5mg - 100 Tabs                         100's        58169.7800
                     jui pure Coconut oil(Plastic)                    46 ml            0.0000
Test Division        Chaka Advanced Ball Soap                         125gm            0.0000
                     Jui Pure Coconut Oil  (Tin)                      200 ml           0.0000

                                                                                      NET_IMS
ZONE_NAME            PRODUCT_NAME                                     PACK_SIZE
Chattogram- Division Chaka Advanced Ball Soap                         125gm      1.831806e+06
                                                                      130gm      0.000000e+00
                     Chaka Advanced Ball Soap for Beauty soap - 130gm 130gm      1.848000e+02
                     Chaka Advanced Washing Powder                    1000 gm    2.312567e+05
                                                                      200 gm     6.267878e+05
...                                                                                       ...
Sylhet - Division    Zerocal-6.5 mg-100 Tab-CP                        100"s      5.196480e+03
                     Zerocal-6.5mg - 100 Tabs                         100's      3.175693e+05
                     jui pure Coconut oil(Plastic)                    46 ml      1.551400e+02
Test Division        Chaka Advanced Ball Soap                         125gm      1.968000e+02
                     Jui Pure Coconut Oil  (Tin)                      200 ml     2.567790e+03

[1320 rows x 3 columns]

In [30]:
ready_file = (df
.filter(['ZONE_NAME', 'PRODUCT_NAME', 'PACK_SIZE','INVOICE_AMT', 'RETURN_VALUE','NET_IMS']) # Select
#.loc[(df['PRODUCT_NAME'] == 'Chaka Advanced Ball Soap') & (df['NET_IMS'] > 50000)] # where
.sort_values(['PRODUCT_NAME']) # order by
.groupby(['ZONE_NAME', 'PRODUCT_NAME', 'PACK_SIZE']) # group by
.sum() # aggregate
)

In [31]:
ready_file.to_csv("F:\SPA_CURRENT_SUPPORT\Maruf_Delivery_Wise_IMS\Modified_Invoice_Wise_Cumulative_IMS\Without_Employee\Basic_Stats.csv")

In [34]:
df = df.rename(columns={'ZONE_CODE':'DIVISION_CODE',
                   'ZONE_NAME':'DIVISION_NAME',
                   'AREA_CODE':'REGION_CODE',
                   'AREA_NAME':'REGION_NAME',
                   'BELT_CODE':'AREA_CODE',
                   'BELT_NAME':'AREA_NAME'})

In [36]:
df.head()

,DIVISION_CODE,DIVISION_NAME,REGION_CODE,REGION_NAME,AREA_CODE,AREA_NAME,TERRITORY_CODE,TERRITORY_NAME,MARKET_CODE,MARKET_NAME,...,INVOICE_QTY,INV_BONUS_QTY,BONUS_PRICE_DISCOUNT,INVOICE_AMT,RETURN_SALES_QTY,RETURN_BNS_QTY,RETURN_VALUE,IMS_SALES_QTY,IMS_BNS_QTY,NET_IMS
0,A,Chattogram- Division,1,Chattogram-Region,1,Chattogram-Area,1,Chattogram-A Belt,3,Chattogram-7 (Dewanhat),...,3,0,32.25,449.25,0,0,0.0,3,0,449.25
1,A,Chattogram- Division,1,Chattogram-Region,1,Chattogram-Area,1,Chattogram-A Belt,3,Chattogram-7 (Dewanhat),...,6,0,56.14,729.86,0,0,0.0,6,0,729.86
2,A,Chattogram- Division,1,Chattogram-Region,1,Chattogram-Area,1,Chattogram-A Belt,3,Chattogram-7 (Dewanhat),...,6,0,0.00,352.50,0,0,0.0,6,0,352.50
3,A,Chattogram- Division,1,Chattogram-Region,1,Chattogram-Area,1,Chattogram-A Belt,3,Chattogram-7 (Dewanhat),...,6,0,56.14,729.86,0,0,0.0,6,0,729.86
4,A,Chattogram- Division,1,Chattogram-Region,1,Chattogram-Area,1,Chattogram-A Belt,3,Chattogram-7 (Dewanhat),...,9,0,27.00,360.00,0,0,0.0,9,0,360.00

## Working with Order_mst & Order_dtl

In [39]:
url = pd.read_excel('F:\SPA_CURRENT_SUPPORT\Data\Order\Order_MST_Jan.xlsx')
url1 = pd.read_excel('F:\SPA_CURRENT_SUPPORT\Data\Order\Order_DTL_Jan.xlsx')

C:\Users\helpdesk\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [46]:
url.describe

<bound method NDFrame.describe of         ORDER_MST_SLNO    ORDER_NO ORDER_DATE ORDER_TYPE DELIVERY_DATE  \
0              3686556  1003688195 2020-01-05     INV001    2020-01-06
1              3686557  1003688196 2020-01-05     INV001    2020-01-06
2              3686558  1003688197 2020-01-05     INV002    2020-01-06
3              3686559  1003688198 2020-01-05     INV001    2020-01-06
4              3686565  1003688204 2020-01-05     INV001    2020-01-06
...                ...         ...        ...        ...           ...
555619         4173946  1004175585 2020-01-31     INV001    2020-02-01
555620         4173947  1004175586 2020-01-31     INV001    2020-02-01
555621         4173953  1004175592 2020-01-31     INV001    2020-02-01
555622         4174681  1004176320 2020-01-31     INV001    2020-01-31
555623         4174794  1004176433 2020-01-31     INV001    2020-02-01

        RETAILER_CODE  ROUTE_CODE  MARKET_CODE  EMPLOYEE_CODE  CUSTOMER_CODE  \
0              136020        1939          394           2950           1266
1               94879        1304         1360           2418            153
2               95681        1315         1363           2709            153
3              251958        1958          378           1166            726
4              172015        2576         1347           1405            509
...               ...         ...          ...            ...            ...
555619          42918         577          830           1276            579
555620         171688        2570         1342           1388            509
555621          42920         577          830           1276            579
555622         167798        2471         1359           1538           1275
555623         197937         601          823           2844              2

       INVOICE_STATUS  RETAILER_LAT  RETAILER_LONG  TRADE_POLICY_NO  \
0                   C     23.792697      91.172579              NaN
1                   C      0.000000       0.000000              NaN
2                   C      0.000000       0.000000              NaN
3                   C     23.113204      91.180774              NaN
4                   C     23.928799      90.603387              NaN
...               ...           ...            ...              ...
555619              C      0.000000       0.000000              NaN
555620              C      0.000000       0.000000              NaN
555621              C      0.000000       0.000000              NaN
555622              C      0.000000       0.000000              NaN
555623              C      0.000000       0.000000              NaN

       ORDER_ACTUAL_DATETIME
0        2020-01-05 11:20:12
1        2020-01-05 11:35:54
2        2020-01-05 11:36:44
3        2020-01-05 11:36:44
4        2020-01-05 11:36:59
...                      ...
555619   2020-01-31 16:15:59
555620   2020-01-31 16:18:49
555621   2020-01-31 16:19:31
555622   2020-01-31 20:09:32
555623   2020-01-31 21:06:32

[555624 rows x 15 columns]>

In [48]:
url1.shape

(999999, 6)

In [50]:
new_order = pd.merge(url, url1, on='ORDER_MST_SLNO', how='inner')

In [52]:
new_order.head()

,ORDER_MST_SLNO,ORDER_NO,ORDER_DATE,ORDER_TYPE,DELIVERY_DATE,RETAILER_CODE,ROUTE_CODE,MARKET_CODE,EMPLOYEE_CODE,CUSTOMER_CODE,INVOICE_STATUS,RETAILER_LAT,RETAILER_LONG,TRADE_POLICY_NO,ORDER_ACTUAL_DATETIME,ORDER_DTL_SLNO,PRODUCT_CODE,ORDER_QTY,REVISED_ORDER_QTY,PRODUCT_PRICE
0,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,NaN,2020-01-12 13:32:35,14277071,AC0115,12,NaN,78.0
1,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,NaN,2020-01-12 13:32:35,14277072,DC0287,12,NaN,30.0
2,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,NaN,2020-01-12 13:32:35,14277073,DC0505,40,NaN,27.0
3,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,NaN,2020-01-12 13:32:35,14277074,DC0510,20,NaN,50.5
4,3839430,1003841069,2020-01-12,INV001,2020-01-13,216789,3116,788,3278,1123,C,24.5789,90.395483,NaN,2020-01-12 16:56:34,14277733,FC0105,16,NaN,58.0

In [55]:
new_order.isnull()

,ORDER_MST_SLNO,ORDER_NO,ORDER_DATE,ORDER_TYPE,DELIVERY_DATE,RETAILER_CODE,ROUTE_CODE,MARKET_CODE,EMPLOYEE_CODE,CUSTOMER_CODE,INVOICE_STATUS,RETAILER_LAT,RETAILER_LONG,TRADE_POLICY_NO,ORDER_ACTUAL_DATETIME,ORDER_DTL_SLNO,PRODUCT_CODE,ORDER_QTY,REVISED_ORDER_QTY,PRODUCT_PRICE
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
999995,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
999996,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
999997,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
999998,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False

In [56]:
new_order.notnull()

,ORDER_MST_SLNO,ORDER_NO,ORDER_DATE,ORDER_TYPE,DELIVERY_DATE,RETAILER_CODE,ROUTE_CODE,MARKET_CODE,EMPLOYEE_CODE,CUSTOMER_CODE,INVOICE_STATUS,RETAILER_LAT,RETAILER_LONG,TRADE_POLICY_NO,ORDER_ACTUAL_DATETIME,ORDER_DTL_SLNO,PRODUCT_CODE,ORDER_QTY,REVISED_ORDER_QTY,PRODUCT_PRICE
0,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
999995,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
999996,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
999997,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
999998,True,True,True,True,True,True,True,True,True,True,True,True,True,False,True,True,True,True,False,True

In [57]:
new_order.dropna()

Empty DataFrame
Columns: [ORDER_MST_SLNO, ORDER_NO, ORDER_DATE, ORDER_TYPE, DELIVERY_DATE, RETAILER_CODE, ROUTE_CODE, MARKET_CODE, EMPLOYEE_CODE, CUSTOMER_CODE, INVOICE_STATUS, RETAILER_LAT, RETAILER_LONG, TRADE_POLICY_NO, ORDER_ACTUAL_DATETIME, ORDER_DTL_SLNO, PRODUCT_CODE, ORDER_QTY, REVISED_ORDER_QTY, PRODUCT_PRICE]
Index: []

In [62]:
new_order.fillna(0)

,ORDER_MST_SLNO,ORDER_NO,ORDER_DATE,ORDER_TYPE,DELIVERY_DATE,RETAILER_CODE,ROUTE_CODE,MARKET_CODE,EMPLOYEE_CODE,CUSTOMER_CODE,INVOICE_STATUS,RETAILER_LAT,RETAILER_LONG,TRADE_POLICY_NO,ORDER_ACTUAL_DATETIME,ORDER_DTL_SLNO,PRODUCT_CODE,ORDER_QTY,REVISED_ORDER_QTY,PRODUCT_PRICE
0,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,0.0,2020-01-12 13:32:35,14277071,AC0115,12,0.0,78.0
1,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,0.0,2020-01-12 13:32:35,14277072,DC0287,12,0.0,30.0
2,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,0.0,2020-01-12 13:32:35,14277073,DC0505,40,0.0,27.0
3,3839237,1003840876,2020-01-12,INV001,2020-01-13,31998,461,1130,2533,758,C,0.0000,0.000000,0.0,2020-01-12 13:32:35,14277074,DC0510,20,0.0,50.5
4,3839430,1003841069,2020-01-12,INV001,2020-01-13,216789,3116,788,3278,1123,C,24.5789,90.395483,0.0,2020-01-12 16:56:34,14277733,FC0105,16,0.0,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,4174681,1004176320,2020-01-31,INV001,2020-01-31,167798,2471,1359,1538,1275,C,0.0000,0.000000,0.0,2020-01-31 20:09:32,15335820,BC0350,2,2.0,99.0
999995,4174681,1004176320,2020-01-31,INV001,2020-01-31,167798,2471,1359,1538,1275,C,0.0000,0.000000,0.0,2020-01-31 20:09:32,15335821,GC0106,9,9.0,43.0
999996,4174681,1004176320,2020-01-31,INV001,2020-01-31,167798,2471,1359,1538,1275,C,0.0000,0.000000,0.0,2020-01-31 20:09:32,15335822,FC0105,72,72.0,58.0
999997,4174681,1004176320,2020-01-31,INV001,2020-01-31,167798,2471,1359,1538,1275,C,0.0000,0.000000,0.0,2020-01-31 20:09:32,15335823,FC0110,18,18.0,113.0
999998,4174794,1004176433,2020-01-31,INV001,2020-02-01,197937,601,823,2844,2,C,0.0000,0.000000,0.0,2020-01-31 21:06:32,15336283,DC1922,4,0.0,115.0